In [1]:
import pickle
import pandas as pd
from datetime import timedelta
import numpy as np

In [108]:
year=2050
nuc="nuclear_plus"
type_result="multinode_"#"" if singlenode
bati_hyp="ref"
reindus="reindus"
with open("Results_"+type_result+str(year)+"_"+nuc+"_"+bati_hyp+"_"+reindus+".pickle", 'rb') as f:
    Variables=pickle.load(f)

In [109]:
print(Variables)

{'power_Dvar':        AREAS                TIME    TECHNOLOGIES   power_Dvar
0         GB 2019-02-25 07:00:00         OldNuke  1188.000000
1         GB 2019-02-25 07:00:00    WindOffShore  3718.938825
2         GB 2019-02-25 07:00:00         Biomass  4528.000000
3         GB 2019-02-25 07:00:00     WindOnShore  4899.552606
4         GB 2019-02-25 07:00:00             CCG     0.000000
...      ...                 ...             ...          ...
858475    CH 2019-05-26 10:00:00            Coal     0.000000
858476    CH 2019-05-26 10:00:00             TAC     0.000000
858477    CH 2019-05-26 10:00:00      Geothermal     0.000000
858478    CH 2019-05-26 10:00:00  HydroReservoir     0.000000
858479    CH 2019-05-26 10:00:00         NewNuke     0.000000

[858480 rows x 4 columns], 'exchange_Pvar':        AREAS AREAS                TIME  exchange_Pvar
0         GB    GB 2019-02-25 07:00:00            0.0
1         GB    GB 2019-05-17 00:00:00            0.0
2         GB    GB 2019-02-10 08:00:00            0.0
3         GB    GB 2019-08-15 02:00:00            0.0
4         GB    GB 2019-07-08 06:00:00            0.0
...      ...   ...                 ...            ...
429235    CH    CH 2019-08-17 08:00:00            0.0
429236    CH    CH 2019-08-21 14:00:00            0.0
429237    CH    CH 2019-11-28 19:00:00            0.0
429238    CH    CH 2019-10-17 20:00:00            0.0
429239    CH    CH 2019-05-26 10:00:00            0.0

[429240 rows x 4 columns], 'powerCosts_Pvar':    AREAS    TECHNOLOGIES  powerCosts_Pvar
0     GB         OldNuke     7.167907e+07
1     GB    WindOffShore     0.000000e+00
2     GB         Biomass     1.284462e+09
3     GB     WindOnShore     0.000000e+00
4     GB             CCG    -0.000000e+00
..   ...             ...              ...
93    CH            Coal    -0.000000e+00
94    CH             TAC     0.000000e+00
95    CH      Geothermal     0.000000e+00
96    CH  HydroReservoir     0.000000e+00
97    CH         NewNuke    -0.000000e+00

[98 rows x 3 columns], 'capacity_Dvar':    AREAS    TECHNOLOGIES  capacity_Dvar
0     GB         OldNuke         1188.0
1     GB    WindOffShore        85800.0
2     GB         Biomass         4528.0
3     GB     WindOnShore        41937.0
4     GB             CCG            0.0
..   ...             ...            ...
93    CH            Coal            0.0
94    CH             TAC            0.0
95    CH      Geothermal            0.0
96    CH  HydroReservoir         5588.0
97    CH         NewNuke            0.0

[98 rows x 3 columns], 'capacityCosts_Pvar':    AREAS    TECHNOLOGIES  capacityCosts_Pvar
0     GB         OldNuke        2.586096e+08
1     GB    WindOffShore        1.100070e+10
2     GB         Biomass        1.094950e+09
3     GB     WindOnShore        3.147174e+09
4     GB             CCG       -0.000000e+00
..   ...             ...                 ...
93    CH            Coal       -0.000000e+00
94    CH             TAC        0.000000e+00
95    CH      Geothermal        0.000000e+00
96    CH  HydroReservoir        3.943890e+08
97    CH         NewNuke       -0.000000e+00

[98 rows x 3 columns], 'storageIn_Pvar':        AREAS                TIME      STOCK_TECHNO  storageIn_Pvar
0         GB 2019-02-25 07:00:00      HydroStorage        0.000000
1         GB 2019-02-25 07:00:00           Battery        0.000000
2         GB 2019-02-25 07:00:00  PowertoH2toPower        0.000000
3         GB 2019-05-17 00:00:00      HydroStorage        0.000000
4         GB 2019-05-17 00:00:00           Battery        0.000000
...      ...                 ...               ...             ...
183955    CH 2019-10-17 20:00:00           Battery        0.000000
183956    CH 2019-10-17 20:00:00  PowertoH2toPower     1001.559882
183957    CH 2019-05-26 10:00:00      HydroStorage     7460.502971
183958    CH 2019-05-26 10:00:00           Battery        0.000000
183959    CH 2019-05-26 10:00:00  PowertoH2toPower     1001.559882

[183960 rows x 4 columns], 'storageOut_Pvar':        AREAS                TIME      STOCK_TECHNO  storageOut_Pvar
0         GB 2019-02-25 07:00:00      HydroStorage          0.00000
1         GB 2019-02-25 07:00:00           Battery        999.28275
2         GB 2019-02-25 07:00:00  PowertoH2toPower          0.00000
3         GB 2019-05-17 00:00:00      HydroStorage          0.00000
4         GB 2019-05-17 00:00:00           Battery          0.00000
...      ...                 ...               ...              ...
183955    CH 2019-10-17 20:00:00           Battery          0.00000
183956    CH 2019-10-17 20:00:00  PowertoH2toPower          0.00000
183957    CH 2019-05-26 10:00:00      HydroStorage          0.00000
183958    CH 2019-05-26 10:00:00           Battery          0.00000
183959    CH 2019-05-26 10:00:00  PowertoH2toPower          0.00000

[183960 rows x 4 columns], 'stockLevel_Pvar':        AREAS                TIME      STOCK_TECHNO  stockLevel_Pvar
0         GB 2019-02-25 07:00:00      HydroStorage     80079.747335
1         GB 2019-02-25 07:00:00           Battery      6290.188671
2         GB 2019-02-25 07:00:00  PowertoH2toPower    796796.611662
3         GB 2019-05-17 00:00:00      HydroStorage     65650.318541
4         GB 2019-05-17 00:00:00           Battery     10498.470069
...      ...                 ...               ...              ...
183955    CH 2019-10-17 20:00:00           Battery         0.000000
183956    CH 2019-10-17 20:00:00  PowertoH2toPower    114351.148442
183957    CH 2019-05-26 10:00:00      HydroStorage    177884.607282
183958    CH 2019-05-26 10:00:00           Battery         0.000000
183959    CH 2019-05-26 10:00:00  PowertoH2toPower     18060.102004

[183960 rows x 4 columns], 'stockLevel_ini_Dvar':    AREAS      STOCK_TECHNO  stockLevel_ini_Dvar
0     GB      HydroStorage         3.219652e+04
1     GB           Battery         0.000000e+00
2     GB  PowertoH2toPower         2.432676e+06
3     DE      HydroStorage         3.996000e+04
4     DE           Battery         0.000000e+00
5     DE  PowertoH2toPower         7.311065e+06
6     IT      HydroStorage         7.729299e+04
7     IT           Battery         0.000000e+00
8     IT  PowertoH2toPower         4.841840e+06
9     BE      HydroStorage         1.983682e+02
10    BE           Battery         0.000000e+00
11    BE  PowertoH2toPower         7.824976e+05
12    ES      HydroStorage         3.357531e+04
13    ES           Battery         0.000000e+00
14    ES  PowertoH2toPower         2.272963e+06
15    FR      HydroStorage         1.200155e+05
16    FR           Battery         0.000000e+00
17    FR  PowertoH2toPower         1.230112e+06
18    CH      HydroStorage         3.859790e+05
19    CH           Battery         0.000000e+00
20    CH  PowertoH2toPower         1.121169e+05, 'storageCosts_Pvar':    AREAS      STOCK_TECHNO  storageCosts_Pvar
0     GB      HydroStorage       6.608285e+08
1     GB           Battery       4.066746e+08
2     GB  PowertoH2toPower       2.282146e+09
3     DE      HydroStorage       7.144695e+08
4     DE           Battery       8.706377e+08
5     DE  PowertoH2toPower       1.148849e+10
6     IT      HydroStorage       1.846687e+09
7     IT           Battery       2.949169e+08
8     IT  PowertoH2toPower       2.838144e+09
9     BE      HydroStorage       1.262873e+08
10    BE           Battery       1.518070e+08
11    BE  PowertoH2toPower       1.107190e+09
12    ES      HydroStorage       5.792996e+08
13    ES           Battery      -0.000000e+00
14    ES  PowertoH2toPower       4.433691e+09
15    FR      HydroStorage       1.052298e+09
16    FR           Battery       1.821735e+08
17    FR  PowertoH2toPower       1.850356e+09
18    CH      HydroStorage       7.203110e+08
19    CH           Battery       1.016020e+08
20    CH  PowertoH2toPower       1.032566e+08, 'Pmax_in_Dvar':    AREAS      STOCK_TECHNO  Pmax_in_Dvar
0     GB      HydroStorage   6844.422849
1     GB           Battery   9973.546566
2     GB  PowertoH2toPower  15874.290159
3     DE      HydroStorage   7400.000000
4     DE           Battery  19730.092733
5     DE  PowertoH2toPower  63119.345051
6     IT      HydroStorage  19126.752972
7     IT           Battery   7232.728975
8     IT  PowertoH2toPower  20301.715613
9     BE      HydroStorage   1308.000000
10    BE           Battery   3723.010525
11    BE  PowertoH2toPower   7629.465981
12    ES      HydroStorage   6000.000000
13    ES           Battery      0.000000
14    ES  PowertoH2toPower  42893.833126
15    FR      HydroStorage  10899.000000
16    FR           Battery   4467.740025
17    FR  PowertoH2toPower  17980.657471
18    CH      HydroStorage   7460.502971
19    CH           Battery   2491.752615
20    CH  PowertoH2toPower   1001.559882, 'Pmax_out_Dvar':    AREAS      STOCK_TECHNO  Pmax_out_Dvar
0     GB      HydroStorage    6844.422849
1     GB           Battery    9973.546566
2     GB  PowertoH2toPower    6059.042004
3     DE      HydroStorage    7400.000000
4     DE           Battery   19730.092733
5     DE  PowertoH2toPower   45487.431809
6     IT      HydroStorage   19126.752972
7     IT           Battery    7232.728975
8     IT  PowertoH2toPower    6277.965246
9     BE      HydroStorage    1308.000000
10    BE           Battery    3723.010525
11    BE  PowertoH2toPower    3036.593094
12    ES      HydroStorage    6000.000000
13    ES           Battery      -0.000000
14    ES  PowertoH2toPower       0.000000
15    FR      HydroStorage   10899.000000
16    FR           Battery    4467.740025
17    FR  PowertoH2toPower       0.000000
18    CH      HydroStorage    7460.502971
19    CH           Battery    2491.752615
20    CH  PowertoH2toPower       0.000000, 'Cmax_Pvar':    AREAS      STOCK_TECHNO     Cmax_Pvar
0     GB      HydroStorage  8.007975e+04
1     GB           Battery  1.049847e+04
2     GB  PowertoH2toPower  2.579361e+06
3     DE      HydroStorage  3.996000e+04
4     DE           Battery  2.411701e+04
5     DE  PowertoH2toPower  2.119882e+07
6     IT      HydroStorage  2.237830e+05
7     IT           Battery  7.613399e+03
8     IT  PowertoH2toPower  8.244946e+06
9     BE      HydroStorage  4.708800e+03
10    BE           Battery  3.918958e+03
11    BE  PowertoH2toPower  1.056736e+06
12    ES      HydroStorage  1.026000e+05
13    ES           Battery  0.000000e+00
14    ES  PowertoH2toPower  6.230602e+06
15    FR      HydroStorage  1.961820e+05
16    FR           Battery  4.702884e+03
17    FR  PowertoH2toPower  2.064981e+06
18    CH      HydroStorage  4.364394e+05
19    CH           Battery  2.622897e+03
20    CH  PowertoH2toPower  1.275563e+05, 'flexCosts_Pvar':    AREAS FLEX_CONSUM  flexCosts_Pvar
0     GB       Steel    1.505056e+08
1     GB          EV    6.945662e+07
2     DE       Steel    1.014381e+09
3     DE          EV    1.262539e+09
4     IT       Steel    5.937761e+08
5     IT          EV    9.486765e+08
6     BE       Steel    1.819669e+08
7     BE          EV    1.559382e+08
8     ES       Steel    2.602346e+07
9     ES          EV    7.436889e+08
10    FR       Steel   -1.968830e+08
11    FR          EV    1.059271e+09
12    CH       Steel    3.479994e+06
13    CH          EV    1.679515e+08, 'total_consumption_Pvar':       AREAS                TIME  total_consumption_Pvar
0        GB 2019-02-25 07:00:00            38951.734087
1        GB 2019-05-17 00:00:00            32709.865957
2        GB 2019-02-10 08:00:00            41446.003684
3        GB 2019-08-15 02:00:00            42458.162838
4        GB 2019-07-08 06:00:00            27600.959416
...     ...                 ...                     ...
61315    CH 2019-08-17 08:00:00             6525.651060
61316    CH 2019-08-21 14:00:00            13755.677546
61317    CH 2019-11-28 19:00:00             9303.073403
61318    CH 2019-10-17 20:00:00             7565.127371
61319    CH 2019-05-26 10:00:00            11808.919125

[61320 rows x 3 columns], 'flex_consumption_Pvar':        AREAS                TIME FLEX_CONSUM  flex_consumption_Pvar
0         GB 2019-02-25 07:00:00       Steel           2.967310e+03
1         GB 2019-02-25 07:00:00          EV           6.700325e+02
2         GB 2019-05-17 00:00:00       Steel           2.967310e+03
3         GB 2019-05-17 00:00:00          EV           2.579941e+03
4         GB 2019-02-10 08:00:00       Steel           2.967310e+03
...      ...                 ...         ...                    ...
122635    CH 2019-11-28 19:00:00          EV           9.094947e-13
122636    CH 2019-10-17 20:00:00       Steel           4.342897e+02
122637    CH 2019-10-17 20:00:00          EV           0.000000e+00
122638    CH 2019-05-26 10:00:00       Steel           4.342897e+02
122639    CH 2019-05-26 10:00:00          EV           3.645893e+03

[122640 rows x 4 columns], 'a_plus_Pvar':        AREAS                TIME FLEX_CONSUM  a_plus_Pvar
0         GB 2019-02-25 07:00:00       Steel   701.496065
1         GB 2019-02-25 07:00:00          EV     0.000000
2         GB 2019-05-17 00:00:00       Steel   701.496065
3         GB 2019-05-17 00:00:00          EV     0.000000
4         GB 2019-02-10 08:00:00       Steel   701.496065
...      ...                 ...         ...          ...
122635    CH 2019-11-28 19:00:00          EV     0.000000
122636    CH 2019-10-17 20:00:00       Steel    18.356839
122637    CH 2019-10-17 20:00:00          EV     0.000000
122638    CH 2019-05-26 10:00:00       Steel    18.356839
122639    CH 2019-05-26 10:00:00          EV  3202.323377

[122640 rows x 4 columns], 'a_minus_Pvar':        AREAS                TIME FLEX_CONSUM  a_minus_Pvar
0         GB 2019-02-25 07:00:00       Steel      0.000000
1         GB 2019-02-25 07:00:00          EV    670.032492
2         GB 2019-05-17 00:00:00       Steel      0.000000
3         GB 2019-05-17 00:00:00          EV   9136.453799
4         GB 2019-02-10 08:00:00       Steel      0.000000
...      ...                 ...         ...           ...
122635    CH 2019-11-28 19:00:00          EV   4917.444388
122636    CH 2019-10-17 20:00:00       Steel      0.000000
122637    CH 2019-10-17 20:00:00          EV   4436.214005
122638    CH 2019-05-26 10:00:00       Steel      0.000000
122639    CH 2019-05-26 10:00:00          EV     -0.000000

[122640 rows x 4 columns], 'flex_Dvar':        AREAS                TIME FLEX_CONSUM  flex_Dvar
0         GB 2019-02-25 07:00:00       Steel  -0.309600
1         GB 2019-02-25 07:00:00          EV   0.500000
2         GB 2019-05-17 00:00:00       Steel  -0.309600
3         GB 2019-05-17 00:00:00          EV   0.779801
4         GB 2019-02-10 08:00:00       Steel  -0.309600
...      ...                 ...         ...        ...
122635    CH 2019-11-28 19:00:00          EV   1.000000
122636    CH 2019-10-17 20:00:00       Steel  -0.044134
122637    CH 2019-10-17 20:00:00          EV   1.000000
122638    CH 2019-05-26 10:00:00       Steel  -0.044134
122639    CH 2019-05-26 10:00:00          EV  -7.219442

[122640 rows x 4 columns], 'increased_max_power_Dvar':    AREAS FLEX_CONSUM  increased_max_power_Dvar
0     GB       Steel                701.496065
1     GB          EV               1324.326508
2     DE       Steel               4352.921283
3     DE          EV              24072.779385
4     IT       Steel               2705.577640
5     IT          EV              18088.375058
6     BE       Steel                849.829033
7     BE          EV               2973.266713
8     ES       Steel                134.965996
9     ES          EV              14179.884819
10    FR       Steel                  0.000000
11    FR          EV              20197.083823
12    CH       Steel                 18.356839
13    CH          EV               3202.323377}

# 1. Capacity

In [71]:
# Production means capacity (MW)
Variables['capacity_Dvar'][Variables['capacity_Dvar'].AREAS=='FR']

   AREAS    TECHNOLOGIES  capacity_Dvar
70    FR         OldNuke     13870.0000
71    FR    WindOffShore     49000.0000
72    FR         Biomass      3000.0000
73    FR     WindOnShore     37000.0000
74    FR             CCG         0.0000
75    FR   NewHydroRiver      1200.0000
76    FR           Solar    152960.2812
77    FR     curtailment         0.0000
78    FR      HydroRiver     11030.0000
79    FR            Coal         0.0000
80    FR             TAC         0.0000
81    FR      Geothermal         0.0000
82    FR  HydroReservoir      8785.0000
83    FR         NewNuke     26730.0000

In [72]:
# Storage capacity
Variables['Pmax_in_Dvar']

   AREAS      STOCK_TECHNO  Pmax_in_Dvar
0     GB      HydroStorage   6844.422849
1     GB           Battery   9973.546566
2     GB  PowertoH2toPower  15874.290159
3     DE      HydroStorage   7400.000000
4     DE           Battery  19730.092733
5     DE  PowertoH2toPower  63119.345051
6     IT      HydroStorage  19126.752972
7     IT           Battery   7232.728975
8     IT  PowertoH2toPower  20301.715613
9     BE      HydroStorage   1308.000000
10    BE           Battery   3723.010525
11    BE  PowertoH2toPower   7629.465981
12    ES      HydroStorage   6000.000000
13    ES           Battery      0.000000
14    ES  PowertoH2toPower  42893.833126
15    FR      HydroStorage  10899.000000
16    FR           Battery   4467.740025
17    FR  PowertoH2toPower  17980.657471
18    CH      HydroStorage   7460.502971
19    CH           Battery   2491.752615
20    CH  PowertoH2toPower   1001.559882

In [73]:
# Storage capacity
Variables['Pmax_out_Dvar']

   AREAS      STOCK_TECHNO  Pmax_out_Dvar
0     GB      HydroStorage    6844.422849
1     GB           Battery    9973.546566
2     GB  PowertoH2toPower    6059.042004
3     DE      HydroStorage    7400.000000
4     DE           Battery   19730.092733
5     DE  PowertoH2toPower   45487.431809
6     IT      HydroStorage   19126.752972
7     IT           Battery    7232.728975
8     IT  PowertoH2toPower    6277.965246
9     BE      HydroStorage    1308.000000
10    BE           Battery    3723.010525
11    BE  PowertoH2toPower    3036.593094
12    ES      HydroStorage    6000.000000
13    ES           Battery      -0.000000
14    ES  PowertoH2toPower       0.000000
15    FR      HydroStorage   10899.000000
16    FR           Battery    4467.740025
17    FR  PowertoH2toPower       0.000000
18    CH      HydroStorage    7460.502971
19    CH           Battery    2491.752615
20    CH  PowertoH2toPower       0.000000

In [74]:
# Storage capacity
Variables['Cmax_Pvar']

   AREAS      STOCK_TECHNO     Cmax_Pvar
0     GB      HydroStorage  8.007975e+04
1     GB           Battery  1.049847e+04
2     GB  PowertoH2toPower  2.579361e+06
3     DE      HydroStorage  3.996000e+04
4     DE           Battery  2.411701e+04
5     DE  PowertoH2toPower  2.119882e+07
6     IT      HydroStorage  2.237830e+05
7     IT           Battery  7.613399e+03
8     IT  PowertoH2toPower  8.244946e+06
9     BE      HydroStorage  4.708800e+03
10    BE           Battery  3.918958e+03
11    BE  PowertoH2toPower  1.056736e+06
12    ES      HydroStorage  1.026000e+05
13    ES           Battery  0.000000e+00
14    ES  PowertoH2toPower  6.230602e+06
15    FR      HydroStorage  1.961820e+05
16    FR           Battery  4.702884e+03
17    FR  PowertoH2toPower  2.064981e+06
18    CH      HydroStorage  4.364394e+05
19    CH           Battery  2.622897e+03
20    CH  PowertoH2toPower  1.275563e+05

In [75]:
Variables['total_consumption_Pvar']['total_consumption_Pvar'].max()

148910.4360652248

In [100]:
Pow_df=Variables['power_Dvar']
Pow_df=Pow_df[Pow_df.AREAS=='FR']
Pow_df['power_Dvar'].sum()/1E6

805.9462186422799

In [101]:
Conso_df=Variables['total_consumption_Pvar']
Conso_df=Conso_df[Conso_df.AREAS=='FR']
Conso_df['total_consumption_Pvar'].sum()/1E6

682.7512848930962

In [102]:
P2H2_df=Variables['storageIn_Pvar']
P2H2_df=P2H2_df[(P2H2_df.STOCK_TECHNO=='PowertoH2toPower')&(P2H2_df.AREAS=='FR')]
P2H2_df['storageIn_Pvar'].sum()/1E6

96.23518718954679

In [103]:
H2P_df=Variables['storageOut_Pvar']
H2P_df=H2P_df[(H2P_df.STOCK_TECHNO=='PowertoH2toPower')&(P2H2_df.AREAS=='FR')]
H2P_df['storageOut_Pvar'].sum()/1E6

0.0

In [80]:
2.399352e+04/(9212.356899*0.95)

2.741571686703414

In [73]:
# Storage means capacity (MW)
Variables['total_consumption_Pvar'].max()

TIME                      2019-12-31 23:00:00
total_consumption_Pvar          138364.610149
dtype: object

In [74]:
Variables['energy_Pvar'].max()

TIME           2019-12-31 23:00:00
energy_Pvar          138364.610149
dtype: object

In [7]:
df=Variables['power_Dvar']
print(df[df.TIME==pd.Timestamp('2019-12-31 23:00:00')])
print(df[df.TIME==pd.Timestamp('2019-12-31 23:00:00')]['power_Dvar'].sum())
df2=Variables['storageOut_Pvar']
print(df2[df2.TIME==pd.Timestamp('2019-12-31 23:00:00')])
df3=Variables['storageIn_Pvar']
print(df3[df3.TIME==pd.Timestamp('2019-12-31 23:00:00')])
df4=Variables['stockLevel_Pvar']
print(df4[df4.TIME==pd.Timestamp('2019-12-31 23:00:00')])
print(Variables['stockLevel_ini_Dvar'])

                     TIME    TECHNOLOGIES    power_Dvar
40989 2019-12-31 23:00:00     WindOnShore   4432.600000
40990 2019-12-31 23:00:00             CCG      0.000000
40991 2019-12-31 23:00:00         OldNuke  15520.000000
40992 2019-12-31 23:00:00             TAC      0.000000
40993 2019-12-31 23:00:00    WindOffShore  10598.700000
40994 2019-12-31 23:00:00  HydroReservoir   8785.000000
40995 2019-12-31 23:00:00         Biomass   3000.000000
40996 2019-12-31 23:00:00            Coal      0.000000
40997 2019-12-31 23:00:00           Solar      0.000000
40998 2019-12-31 23:00:00         NewNuke  21710.000000
40999 2019-12-31 23:00:00      HydroRiver   8233.891861
41000 2019-12-31 23:00:00   NewHydroRiver    895.799659
41001 2019-12-31 23:00:00     curtailment      0.000000
73175.99151963575
                    TIME      STOCK_TECHNO  storageOut_Pvar
9459 2019-12-31 23:00:00           Battery              0.0
9460 2019-12-31 23:00:00  PowertoH2toPower              0.0
9461 2019-12-31 23:00:00      HydroStorage              0.0
                    TIME      STOCK_TECHNO  storageIn_Pvar
9459 2019-12-31 23:00:00           Battery             0.0
9460 2019-12-31 23:00:00  PowertoH2toPower             0.0
9461 2019-12-31 23:00:00      HydroStorage             0.0
                    TIME      STOCK_TECHNO  stockLevel_Pvar
9459 2019-12-31 23:00:00           Battery     0.000000e+00
9460 2019-12-31 23:00:00  PowertoH2toPower     5.920998e+06
9461 2019-12-31 23:00:00      HydroStorage     6.553563e+04
       STOCK_TECHNO  stockLevel_ini_Dvar
0           Battery         0.000000e+00
1  PowertoH2toPower         5.920998e+06
2      HydroStorage         6.553563e+04

In [8]:
df=Variables['power_Dvar']
df2=Variables['storageOut_Pvar']
df3=Variables['storageIn_Pvar']
df=df.groupby('TIME')['power_Dvar'].sum()
df2=df2.groupby('TIME')['storageOut_Pvar'].sum()
df3=df3.groupby('TIME')['storageIn_Pvar'].sum()
df_prod=pd.DataFrame()
df_prod['Prod']=df+df2-df3
#df_prod
#df_prod=df_prod.set_index('TIME')

df_diff=pd.DataFrame()
df_diff['diff']=df_prod['Prod']-Variables['total_consumption_Pvar'].set_index('TIME')['total_consumption_Pvar']
print(df_diff['diff'].max())
N_err=0
for i in df_diff.index:
    if np.abs(df_diff.loc[i,'diff'])>1:
        N_err+=1
        print(df_diff.loc[i,'diff'])
print(N_err)

4.3655745685100555e-11
0

In [9]:
df_prod.loc[pd.Timestamp('2019-12-31 23:00:00')]

Prod    73175.99152
Name: 2019-12-31 23:00:00, dtype: float64

In [10]:
Variables['total_consumption_Pvar'].set_index('TIME').loc[pd.Timestamp('2019-12-31 23:00:00')]

total_consumption_Pvar    73175.99152
Name: 2019-12-31 23:00:00, dtype: float64

In [21]:
Variables['total_consumption_Pvar'].max()

TIME                      2019-12-31 23:00:00
total_consumption_Pvar            155289.7205
dtype: object

In [12]:
Variables['total_consumption_Pvar'][Variables['total_consumption_Pvar'].total_consumption_Pvar==Variables['total_consumption_Pvar']['total_consumption_Pvar'].max()]

                    TIME  total_consumption_Pvar
1290 2019-01-24 13:00:00           150448.942674

In [13]:
d0=pd.Timestamp('2019-01-01 00:00:00')
d1h=timedelta(hours=1)
df=Variables['flex_consumption_Pvar']
L_EV=[]
for h in range(24):
    L_EV.append(float(df[(df.TIME==d0+h*d1h)&(df.FLEX_CONSUM=='EV')]['flex_consumption_Pvar']))
L_EV

[8974.985765378075,
 11252.569669328535,
 10691.645219955992,
 11170.426644899537,
 13510.099229131103,
 15473.200406998334,
 16550.885092623164,
 4425.99954355268,
 5581.337750877695,
 20919.870411678494,
 21837.125896171616,
 23312.874833511825,
 28469.2682218418,
 25998.15287218346,
 27305.36161875611,
 25600.720420410304,
 20896.11392020079,
 18139.698630793904,
 17262.300474917676,
 15669.700657177991,
 15415.259850726845,
 17359.40017950799,
 25017.329324809274,
 23867.510910719506]

In [110]:
def Total_cost(Variables,area):
    return 1/1e9*(Variables['powerCosts_Pvar'][Variables['powerCosts_Pvar'].AREAS==area]['powerCosts_Pvar'].sum()\
            +Variables['capacityCosts_Pvar'][Variables['capacityCosts_Pvar'].AREAS==area]['capacityCosts_Pvar'].sum()\
            +Variables['storageCosts_Pvar'][Variables['storageCosts_Pvar'].AREAS==area]['storageCosts_Pvar'].sum()\
            +Variables['flexCosts_Pvar'][Variables['flexCosts_Pvar'].AREAS==area]['flexCosts_Pvar'].sum())
Total_cost(Variables,'FR')

39.63335539946913