In [75]:
import pickle
import pandas as pd
from datetime import timedelta
import numpy as np

In [105]:
year=2030
nuc="nuclear_plus"
bati_hyp="ref"
reindus="reindus"
with open("Results_"+str(year)+"_"+nuc+"_"+bati_hyp+"_"+reindus+".pickle", 'rb') as f:
    Variables=pickle.load(f)

In [106]:
print(Variables)

{'power_Dvar':                       TIME    TECHNOLOGIES    power_Dvar
0      2019-10-18 08:00:00             CCG      0.000000
1      2019-10-18 08:00:00   NewHydroRiver    470.700057
2      2019-10-18 08:00:00           Solar      3.474038
3      2019-10-18 08:00:00             TAC      0.000000
4      2019-10-18 08:00:00            Coal      0.000000
...                    ...             ...           ...
113875 2019-11-25 11:00:00      HydroRiver   6885.327357
113876 2019-11-25 11:00:00     WindOnShore   4338.360000
113877 2019-11-25 11:00:00         OldNuke  48500.000000
113878 2019-11-25 11:00:00     curtailment      0.000000
113879 2019-11-25 11:00:00  HydroReservoir      0.000000

[113880 rows x 3 columns], 'energy_Pvar':                     TIME   energy_Pvar
0    2019-10-18 08:00:00  56673.029598
1    2019-02-05 06:00:00  46542.297602
2    2019-02-13 11:00:00  88788.619195
3    2019-04-16 01:00:00  54559.386089
4    2019-06-07 20:00:00  50490.853466
...                  ...           ...
8755 2019-06-15 00:00:00  46826.613412
8756 2019-12-04 12:00:00  74547.610477
8757 2019-05-07 09:00:00  55173.971445
8758 2019-12-29 23:00:00  67214.910930
8759 2019-11-25 11:00:00  74293.843276

[8760 rows x 2 columns], 'powerCosts_Pvar':       TECHNOLOGIES  powerCosts_Pvar
0              CCG     4.903689e+08
1    NewHydroRiver     0.000000e+00
2            Solar     0.000000e+00
3              TAC    -0.000000e+00
4             Coal    -0.000000e+00
5          Biomass     2.679602e+08
6          NewNuke    -0.000000e+00
7     WindOffShore     0.000000e+00
8       HydroRiver     0.000000e+00
9      WindOnShore     0.000000e+00
10         OldNuke     3.585130e+09
11     curtailment    -0.000000e+00
12  HydroReservoir     0.000000e+00, 'capacity_Dvar':       TECHNOLOGIES  capacity_Dvar
0              CCG        12664.0
1    NewHydroRiver         1200.0
2            Solar        31900.0
3              TAC            0.0
4             Coal            0.0
5          Biomass         2031.0
6          NewNuke            0.0
7     WindOffShore         8200.0
8       HydroRiver        11030.0
9      WindOnShore        23400.0
10         OldNuke        61080.0
11     curtailment            0.0
12  HydroReservoir         8785.0, 'capacityCosts_Pvar':       TECHNOLOGIES  capacityCosts_Pvar
0              CCG        1.040384e+09
1    NewHydroRiver        1.962082e+08
2            Solar        2.589154e+09
3              TAC       -0.000000e+00
4             Coal       -0.000000e+00
5          Biomass        4.911315e+08
6          NewNuke       -0.000000e+00
7     WindOffShore        1.625054e+09
8       HydroRiver        9.973124e+08
9      WindOnShore        2.547323e+09
10         OldNuke        1.329619e+10
11     curtailment        0.000000e+00
12  HydroReservoir        6.200264e+08, 'storageIn_Pvar':                      TIME      STOCK_TECHNO  storageIn_Pvar
0     2019-10-18 08:00:00           Battery        0.000000
1     2019-10-18 08:00:00      HydroStorage        0.000000
2     2019-10-18 08:00:00  PowertoH2toPower     6800.027704
3     2019-02-05 06:00:00           Battery        0.000000
4     2019-02-05 06:00:00      HydroStorage        0.000000
...                   ...               ...             ...
26275 2019-12-29 23:00:00      HydroStorage        0.000000
26276 2019-12-29 23:00:00  PowertoH2toPower     6800.027704
26277 2019-11-25 11:00:00           Battery        0.000000
26278 2019-11-25 11:00:00      HydroStorage        0.000000
26279 2019-11-25 11:00:00  PowertoH2toPower        0.000000

[26280 rows x 3 columns], 'storageOut_Pvar':                      TIME      STOCK_TECHNO  storageOut_Pvar
0     2019-10-18 08:00:00           Battery      2478.065184
1     2019-10-18 08:00:00      HydroStorage         0.000000
2     2019-10-18 08:00:00  PowertoH2toPower         0.000000
3     2019-02-05 06:00:00           Battery         0.000000
4     2019-02-05 06:00:00      HydroStorage         0.000000
...                   ...               ...              ...
26275 2019-12-29 23:00:00      HydroStorage         0.000000
26276 2019-12-29 23:00:00  PowertoH2toPower         0.000000
26277 2019-11-25 11:00:00           Battery         0.000000
26278 2019-11-25 11:00:00      HydroStorage         0.000000
26279 2019-11-25 11:00:00  PowertoH2toPower         0.000000

[26280 rows x 3 columns], 'stockLevel_Pvar':                      TIME      STOCK_TECHNO  stockLevel_Pvar
0     2019-10-18 08:00:00           Battery     1.538846e+04
1     2019-10-18 08:00:00      HydroStorage     5.567831e+04
2     2019-10-18 08:00:00  PowertoH2toPower     1.754094e+06
3     2019-02-05 06:00:00           Battery     0.000000e+00
4     2019-02-05 06:00:00      HydroStorage     1.274479e+04
...                   ...               ...              ...
26275 2019-12-29 23:00:00      HydroStorage     9.088200e+04
26276 2019-12-29 23:00:00  PowertoH2toPower     1.673029e+06
26277 2019-11-25 11:00:00           Battery     1.838829e+04
26278 2019-11-25 11:00:00      HydroStorage     3.313400e+03
26279 2019-11-25 11:00:00  PowertoH2toPower     9.284727e+05

[26280 rows x 3 columns], 'stockLevel_ini_Dvar':        STOCK_TECHNO  stockLevel_ini_Dvar
0           Battery         2.090323e+04
1      HydroStorage         8.580058e+04
2  PowertoH2toPower         1.570392e+06, 'storageCosts_Pvar':        STOCK_TECHNO  storageCosts_Pvar
0           Battery       7.265702e+08
1      HydroStorage       4.874806e+08
2  PowertoH2toPower       2.273013e+09, 'Pmax_in_Dvar':        STOCK_TECHNO  Pmax_in_Dvar
0           Battery   8230.587598
1      HydroStorage   5049.000000
2  PowertoH2toPower   6800.027704, 'Pmax_out_Dvar':        STOCK_TECHNO  Pmax_out_Dvar
0           Battery    8230.587598
1      HydroStorage    5049.000000
2  PowertoH2toPower   10272.971234, 'Cmax_Pvar':        STOCK_TECHNO     Cmax_Pvar
0           Battery  2.090323e+04
1      HydroStorage  9.088200e+04
2  PowertoH2toPower  2.102227e+06, 'flexCosts_Pvar':   FLEX_CONSUM  flexCosts_Pvar
0       Steel   -7.659861e+07
1          EV    0.000000e+00, 'total_consumption_Pvar':                     TIME  total_consumption_Pvar
0    2019-10-18 08:00:00            56673.029598
1    2019-02-05 06:00:00            46542.297602
2    2019-02-13 11:00:00            88788.619195
3    2019-04-16 01:00:00            54559.386089
4    2019-06-07 20:00:00            50490.853466
...                  ...                     ...
8755 2019-06-15 00:00:00            46826.613412
8756 2019-12-04 12:00:00            74547.610477
8757 2019-05-07 09:00:00            55173.971445
8758 2019-12-29 23:00:00            67214.910930
8759 2019-11-25 11:00:00            74293.843276

[8760 rows x 2 columns], 'flex_consumption_Pvar':                      TIME FLEX_CONSUM  flex_consumption_Pvar
0     2019-10-18 08:00:00       Steel            4916.722055
1     2019-10-18 08:00:00          EV             296.132143
2     2019-02-05 06:00:00       Steel            3753.252666
3     2019-02-05 06:00:00          EV               0.000000
4     2019-02-13 11:00:00       Steel            3099.812630
...                   ...         ...                    ...
17515 2019-05-07 09:00:00          EV               0.000000
17516 2019-12-29 23:00:00       Steel             293.531575
17517 2019-12-29 23:00:00          EV            7928.891752
17518 2019-11-25 11:00:00       Steel            3584.457419
17519 2019-11-25 11:00:00          EV               0.000000

[17520 rows x 3 columns], 'a_plus_Pvar':                      TIME FLEX_CONSUM  a_plus_Pvar
0     2019-10-18 08:00:00       Steel  1585.136557
1     2019-10-18 08:00:00          EV     0.000000
2     2019-02-05 06:00:00       Steel  1284.303747
3     2019-02-05 06:00:00          EV     0.000000
4     2019-02-13 11:00:00       Steel     0.000000
...                   ...         ...          ...
17515 2019-05-07 09:00:00          EV     0.000000
17516 2019-12-29 23:00:00       Steel     0.000000
17517 2019-12-29 23:00:00          EV  6180.016490
17518 2019-11-25 11:00:00       Steel   561.339056
17519 2019-11-25 11:00:00          EV     0.000000

[17520 rows x 3 columns], 'a_minus_Pvar':                      TIME FLEX_CONSUM  a_minus_Pvar
0     2019-10-18 08:00:00       Steel      0.000000
1     2019-10-18 08:00:00          EV    296.132143
2     2019-02-05 06:00:00       Steel      0.000000
3     2019-02-05 06:00:00          EV    459.263007
4     2019-02-13 11:00:00       Steel    130.344491
...                   ...         ...           ...
17515 2019-05-07 09:00:00          EV    946.801720
17516 2019-12-29 23:00:00       Steel   2641.784171
17517 2019-12-29 23:00:00          EV     -0.000000
17518 2019-11-25 11:00:00       Steel      0.000000
17519 2019-11-25 11:00:00          EV   1491.838479

[17520 rows x 3 columns], 'flex_Dvar':                      TIME FLEX_CONSUM  flex_Dvar
0     2019-10-18 08:00:00       Steel  -0.475790
1     2019-10-18 08:00:00          EV   0.500000
2     2019-02-05 06:00:00       Steel  -0.520182
3     2019-02-05 06:00:00          EV   1.000000
4     2019-02-13 11:00:00       Steel   0.040352
...                   ...         ...        ...
17515 2019-05-07 09:00:00          EV   1.000000
17516 2019-12-29 23:00:00       Steel   0.900000
17517 2019-12-29 23:00:00          EV  -3.533709
17518 2019-11-25 11:00:00       Steel  -0.185682
17519 2019-11-25 11:00:00          EV   1.000000

[17520 rows x 3 columns], 'increased_max_power_Dvar':   FLEX_CONSUM  increased_max_power_Dvar
0       Steel                       0.0
1          EV                      -0.0}

# 1. Capacity

In [107]:
# Production means capacity (MW)
Variables['capacity_Dvar']

      TECHNOLOGIES  capacity_Dvar
0              CCG        12664.0
1    NewHydroRiver         1200.0
2            Solar        31900.0
3              TAC            0.0
4             Coal            0.0
5          Biomass         2031.0
6          NewNuke            0.0
7     WindOffShore         8200.0
8       HydroRiver        11030.0
9      WindOnShore        23400.0
10         OldNuke        61080.0
11     curtailment            0.0
12  HydroReservoir         8785.0

In [73]:
# Storage means capacity (MW)
Variables['total_consumption_Pvar'].max()

TIME                      2019-12-31 23:00:00
total_consumption_Pvar          138364.610149
dtype: object

In [74]:
Variables['energy_Pvar'].max()

TIME           2019-12-31 23:00:00
energy_Pvar          138364.610149
dtype: object

In [7]:
df=Variables['power_Dvar']
print(df[df.TIME==pd.Timestamp('2019-12-31 23:00:00')])
print(df[df.TIME==pd.Timestamp('2019-12-31 23:00:00')]['power_Dvar'].sum())
df2=Variables['storageOut_Pvar']
print(df2[df2.TIME==pd.Timestamp('2019-12-31 23:00:00')])
df3=Variables['storageIn_Pvar']
print(df3[df3.TIME==pd.Timestamp('2019-12-31 23:00:00')])
df4=Variables['stockLevel_Pvar']
print(df4[df4.TIME==pd.Timestamp('2019-12-31 23:00:00')])
print(Variables['stockLevel_ini_Dvar'])

                     TIME    TECHNOLOGIES    power_Dvar
40989 2019-12-31 23:00:00     WindOnShore   4432.600000
40990 2019-12-31 23:00:00             CCG      0.000000
40991 2019-12-31 23:00:00         OldNuke  15520.000000
40992 2019-12-31 23:00:00             TAC      0.000000
40993 2019-12-31 23:00:00    WindOffShore  10598.700000
40994 2019-12-31 23:00:00  HydroReservoir   8785.000000
40995 2019-12-31 23:00:00         Biomass   3000.000000
40996 2019-12-31 23:00:00            Coal      0.000000
40997 2019-12-31 23:00:00           Solar      0.000000
40998 2019-12-31 23:00:00         NewNuke  21710.000000
40999 2019-12-31 23:00:00      HydroRiver   8233.891861
41000 2019-12-31 23:00:00   NewHydroRiver    895.799659
41001 2019-12-31 23:00:00     curtailment      0.000000
73175.99151963575
                    TIME      STOCK_TECHNO  storageOut_Pvar
9459 2019-12-31 23:00:00           Battery              0.0
9460 2019-12-31 23:00:00  PowertoH2toPower              0.0
9461 2019-12-31 23:00:00      HydroStorage              0.0
                    TIME      STOCK_TECHNO  storageIn_Pvar
9459 2019-12-31 23:00:00           Battery             0.0
9460 2019-12-31 23:00:00  PowertoH2toPower             0.0
9461 2019-12-31 23:00:00      HydroStorage             0.0
                    TIME      STOCK_TECHNO  stockLevel_Pvar
9459 2019-12-31 23:00:00           Battery     0.000000e+00
9460 2019-12-31 23:00:00  PowertoH2toPower     5.920998e+06
9461 2019-12-31 23:00:00      HydroStorage     6.553563e+04
       STOCK_TECHNO  stockLevel_ini_Dvar
0           Battery         0.000000e+00
1  PowertoH2toPower         5.920998e+06
2      HydroStorage         6.553563e+04

In [8]:
df=Variables['power_Dvar']
df2=Variables['storageOut_Pvar']
df3=Variables['storageIn_Pvar']
df=df.groupby('TIME')['power_Dvar'].sum()
df2=df2.groupby('TIME')['storageOut_Pvar'].sum()
df3=df3.groupby('TIME')['storageIn_Pvar'].sum()
df_prod=pd.DataFrame()
df_prod['Prod']=df+df2-df3
#df_prod
#df_prod=df_prod.set_index('TIME')

df_diff=pd.DataFrame()
df_diff['diff']=df_prod['Prod']-Variables['total_consumption_Pvar'].set_index('TIME')['total_consumption_Pvar']
print(df_diff['diff'].max())
N_err=0
for i in df_diff.index:
    if np.abs(df_diff.loc[i,'diff'])>1:
        N_err+=1
        print(df_diff.loc[i,'diff'])
print(N_err)

4.3655745685100555e-11
0

In [9]:
df_prod.loc[pd.Timestamp('2019-12-31 23:00:00')]

Prod    73175.99152
Name: 2019-12-31 23:00:00, dtype: float64

In [10]:
Variables['total_consumption_Pvar'].set_index('TIME').loc[pd.Timestamp('2019-12-31 23:00:00')]

total_consumption_Pvar    73175.99152
Name: 2019-12-31 23:00:00, dtype: float64

In [21]:
Variables['total_consumption_Pvar'].max()

TIME                      2019-12-31 23:00:00
total_consumption_Pvar            155289.7205
dtype: object

In [12]:
Variables['total_consumption_Pvar'][Variables['total_consumption_Pvar'].total_consumption_Pvar==Variables['total_consumption_Pvar']['total_consumption_Pvar'].max()]

                    TIME  total_consumption_Pvar
1290 2019-01-24 13:00:00           150448.942674

In [13]:
d0=pd.Timestamp('2019-01-01 00:00:00')
d1h=timedelta(hours=1)
df=Variables['flex_consumption_Pvar']
L_EV=[]
for h in range(24):
    L_EV.append(float(df[(df.TIME==d0+h*d1h)&(df.FLEX_CONSUM=='EV')]['flex_consumption_Pvar']))
L_EV

[8974.985765378075,
 11252.569669328535,
 10691.645219955992,
 11170.426644899537,
 13510.099229131103,
 15473.200406998334,
 16550.885092623164,
 4425.99954355268,
 5581.337750877695,
 20919.870411678494,
 21837.125896171616,
 23312.874833511825,
 28469.2682218418,
 25998.15287218346,
 27305.36161875611,
 25600.720420410304,
 20896.11392020079,
 18139.698630793904,
 17262.300474917676,
 15669.700657177991,
 15415.259850726845,
 17359.40017950799,
 25017.329324809274,
 23867.510910719506]

In [102]:
def Total_cost(Variables):
    return 1/1e9*(Variables['powerCosts_Pvar']['powerCosts_Pvar'].sum()\
            +Variables['capacityCosts_Pvar']['capacityCosts_Pvar'].sum()\
            +Variables['storageCosts_Pvar']['storageCosts_Pvar'].sum()\
            +float(Variables['flexCosts_Pvar']['flexCosts_Pvar'].sum()))
Total_cost(Variables)

34.809780897527354